[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/opus.git
[submodule "lib/ogg"]
	path = lib/ogg
	url = https://github.com/ogg.git
[submodule "lib/speexdsp"]
	path = lib/speexdsp
	url = https://github.com/speexdsp.git
[submodule "lib/webm"]
	path = lib/webm
	url = https://chromium.googlesource.com/webm/libwebm
